body{
    font-family: 'Arimo', sans-serif;
}
.mainheading h1{
    text-align: center;

    font-size: 4rem;
    font-weight: bolder;
    color: rgb(6, 60, 136);
}
.images{
    display: flex;
    justify-content: center;
}
.buttonsnew{
    height: 30%;
    border: none;
    border-radius: 50%;
}
.interaction{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}
.userchoice .computerchoice h1{
    color: rgb(93, 7, 135);
}
.command{
    text-align: center;
    display: flex;
    justify-content: center;
     
}
.result{
    margin: auto;
    margin-top: 3%;
    width: 50%;
}
.resetbuttons button{
 margin-top: 35%;
}
.gameshistory{
    margin: auto;
    width: 50%;
}
.custom-border {
    border: 3px solid #660aad; /* Use the appropriate warning color */
  }